@model Telerik.Sitefinity.Frontend.Mvc.Models.ContentListViewModel

@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@using Telerik.Sitefinity.Modules.Pages;
@using Telerik.Sitefinity.Web.DataResolving;

<div class="@Model.CssClass">
    <h4>Featured News</h4>   
        @foreach (var item in Model.Items)
        {
            var navigateUrl = HyperLinkHelpers.GetDetailPageUrl(item, ViewBag.DetailsPageId, ViewBag.OpenInSamePage, Model.UrlKeyPrefix);
            
            <div @Html.InlineEditingAttributes(Model.ProviderName, Model.ContentType.FullName, (Guid)item.Fields.Id)>                                   
         
				<h2>
					<a @Html.InlineEditingFieldAttributes("Title", "ShortText") href="@navigateUrl">@item.Fields.Title</a>
				</h2>
				    <p>
					    @item.Fields.Description
					    @Html.Resource("By")
					    @DataResolver.Resolve(item.DataItem, "Author", null)
				    </p>
                    @Html.CommentsCount((string)navigateUrl, item.DataItem)
                

				<div @Html.InlineEditingFieldAttributes("Summary", "ShortText")>@Html.Raw(item.Fields.Summary)</div>

				<a href="@navigateUrl">@Html.Resource("FullStory")</a>
			</div>
        }  

</div>
