@model SitefinityWebApp.Mvc.Models.WebinarModelList
@using Telerik.Sitefinity.Frontend.Mvc.Helpers
@using Telerik.Sitefinity.Modules.Events;

@if (Model.WebinarModel.Count >= 1)
{
    foreach (var item in Model.WebinarModel)
    {
        //var eventManager = EventsManager.GetManager().GetEvents(). 
        @Html.Raw(item.Title)
        @Html.Raw(item.description)
        @*@Html.Raw(item.StartTime)
        @Html.Raw(item.EndTime)*@
        @Html.Raw(item.EventId)
        }
    }

<h1>
    @Html.Resource("StaticMessage")
</h1>
<p>
    
</p>